@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --azul: #506fa9;
  --amarelo: #846219;
  --marrom: #716565;
  --cinza: #e9e9e9;
  --bege: #e2e0b8;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--cinza);
}
::-webkit-scrollbar-thumb {
  background-color: var(--azul);
  border-radius: 8px;
  border: 3px solid var(--cinza);
}

.nameLogo,
.slogan,
.option {
  color: var(--amarelo);
}

.topSection h1,
.footerBox h3,
.footerBox p {
  color: var(--marrom);
}

body {
  height: 100vh;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  height: 110px;
  padding: 45px;
  width: 100%;
  align-items: center;
}

.dropDown {
  display: none;
}

.zLogo {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.logoText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.nameLogo {
  width: 168px;
  height: 48px;
  left: 147px;
  top: 20px;
  font-size: 41.2px;
  font-weight: bolder;
}

.slogan {
  height: 19px;
  left: 151px;
  top: 68px;
  font-size: 16.2px;
  letter-spacing: 5.4px;
}

.optionsLinks {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.option {
  text-decoration: none;
  height: 19px;
  left: 812px;
  top: 47px;
  font-size: 16.2px;
  letter-spacing: 5.4px;
}

.option:hover {
  color: var(--azul);
}

main {
  position: absolute;
  height: 100%;
  width: 100%;
}

.topSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 914px;
  background-color: var(--cinza);
}

.topSection h1 {
  width: 348px;
  height: 192px;
  top: 425px;
  font-size: 82.2px;
}

.topSection .topImg {
  width: 682px;
  height: 335px;
  top: 345px;
  mix-blend-mode: multiply;
}

.bottomSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  height: 1024px;
  background: var(--azul);
}

.bottomImg {
  width: 1038px;
  height: 689px;
  left: 402px;
  top: 1107px;
  mix-blend-mode: multiply;
}

.bottomSectionText h2 {
  position: absolute;
  width: 484px;
  height: 162px;
  left: 159px;
  top: 1473px;
  font-size: 69.2px;
  color: #ffffff;
}

.bottomSectionText p {
  position: absolute;
  width: 493px;
  height: 171px;
  left: 159px;
  top: 1661px;
  font-size: 48.2px;
  font-weight: 300;
  color: #ffffff;
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 226px;
  top: 2048px;
  background: var(--cinza);
}

.footerBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 75%;
  margin-left: 11%;
}

.footerFollow {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.footerTitle {
  width: 60%;
}

.socialIcons {
  width: 60%;
  padding-bottom: 12px;
}

.icon {
  margin-right: 0.7rem;
}

.icon:hover {
  filter: invert(40%) sepia(90%) saturate(281%) hue-rotate(180deg) brightness(90%) contrast(92%);
}

footer h3 {
  font-size: 27.2px;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 16.2px;
}
